<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>io.iosacademy.BGTaskExample.backgroundTask</string>
	</array>
	<key>NSIdentityUsageDescription</key>
	<string>To calculate normal range and maximum of your Heart Rate</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
